<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>insproman</display-name>
  <servlet>
    <servlet-name>login</servlet-name>
    <servlet-class>insproman.LoginServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/logit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>signup</servlet-name>
    <servlet-class>insproman.SignUpServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signup</servlet-name>
    <url-pattern>/signit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>apply</servlet-name>
    <servlet-class>insproman.ApplyServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>apply</servlet-name>
    <url-pattern>/applyit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>landing</servlet-name>
    <servlet-class>insproman.LandServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>landing</servlet-name>
    <url-pattern>/land</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>create</servlet-name>
    <servlet-class>insproman.CreateServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>create</servlet-name>
    <url-pattern>/createit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>View</servlet-name>
    <servlet-class>insproman.ViewServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>View</servlet-name>
    <url-pattern>/viewit</url-pattern>
    </servlet-mapping>
    <servlet>
    <servlet-name>facil</servlet-name>
    <servlet-class>insproman.FacilServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>facil</servlet-name>
    <url-pattern>/facilit</url-pattern>
    </servlet-mapping>
</web-app>